.list-group { 
    margin: 10; 
    min-width: 10px;
    width: 20%;
 }

 .article-left {
    padding-top: 10px;
    max-width: 60%;
    float: left;
  }

  .article-right {
    float: right;
    max-width: 35%;
    padding-top: 10px;
    padding-right: 10px;
  }


