<div class="container-fluid ">
    <h6>Welcome to User Manager</h6>
    <div class="row" *ngFor="let user of userList">
        <div class="col-xl-12">
            <div class="list-group ">
                <a [routerLink]="['/users',user.id,user.name]" class="list-group-item list-group-item-action">
                    {{user.name}}
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>