<div class="container-fluid article-left ">
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-primary" [routerLink]="['add']">Create New User</button>
       </div>
    </div>
    <div class="row  article-left ">
        <div class="col table-responsive-xl">
            <table class="table table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">email</th>
                        <th scope="col">DOB</th>
                        <th scope="col">#</th>
                    </tr>
                </thead>
                <tbody *ngFor="let user of userList; let i = index" >
                   <tr >
                       <td (click) = "onClick(user)">{{user.name}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.dateOfBirth| date}}</td>
                        <td><input type='image' class="img-responsive" [src]="delImage" (click)="OnDelete(user.id)" style="max-height: 15px;"></td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
<div class="container-fluid article-right ">
    <div class="row">
        <div class="col">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>