<div class="container-fluid">
    <div class="row">
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <div class="col-sm-offset-1 col-md-offset-2">
                    <label for="userName">UserName</label>
                    <input type="text" formControlName="userName" id="userName" class="form-control">
                    <p *ngIf="!userForm.get('userName').valid && userForm.get('userName').touched" style="font-size: small;color: red;">*Enter a valid user name</p>
                   
                </div>
                <div class="col-sm-offset-1 col-md-offset-2">
                    <label for="email">E-Mail address</label>
                    <input type="text" formControlName="email" id="email" class="form-control">
                    <p *ngIf="!userForm.get('email').valid && userForm.get('email').touched" style="font-size: small;color: red;">Enter a valid email address</p>
                </div>
                <div class="col-sm-offset-1 col-md-offset-2">
                    <label for="dob">Enter your DOB:</label>
                    <br>
                    <p-calendar formControlName="dob" ></p-calendar>
                    <p style="font-size: small">*Enter in DD-MM-YYYY format</p>
                    <p *ngIf="!userForm.get('dob').valid && userForm.get('dob').touched" style="font-size: small;color: red;">Enter date in valid format</p>
                </div>
                <div formGroupName="address">
                <div class="col-sm-offset-1 col-md-offset-2">
                    <label>Address:</label><br>
                    <label for="streetname">Street Name</label>
                    <input type="text" formControlName="streetName" id="streetname" class="form-control">
                    <label for="city">City</label>
                    <input type="text" formControlName="city" id="city" class="form-control">
                    <label for="zipcode">Zipcode</label>
                    <input type="text" formControlName="zipcode" id="zipcode" class="form-control">
                    <p *ngIf="!userForm.get('address.zipcode').valid && userForm.get('address.zipcode').touched" style="font-size: small;color: red;">Enter valid Zip code</p>
                    <label for="country">Country</label>
                    <input type="text" formControlName="country" id="country" class="form-control">
                </div>
            </div>
                
                <div class="=col-sm-12">
                    <br>
                    <button [disabled]="!userForm.valid" type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>