<div><h2> Welcome to router Tutorial!!</h2></div>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
 
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}>Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/users" routerLinkActive="active">Users <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" routerLink="/servers" routerLinkActive="active">Servers <span class="sr-only">(current)</span></a>
          </li>
      </ul>
      
    </div>
  </nav>
<router-outlet></router-outlet>